body {
    font-size: x-large;
    font-weight: 400;
    font-family: monospace;
    color: #a62639;
}

main {
    margin-top: auto;
    margin-left: 20vw;
    margin-right: auto;
    width: 40%;
    text-align: center;
}

img {
    width: 25%;
    height: auto;
}


ul {
    list-style-type: none;
    padding: 0;
}

.action {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 0.2rem;
    padding-top: 0.2rem;
    padding-left: 1rem;
    padding-bottom: 0.2rem;
    border-radius: 0.4rem;
    border: 1px solid #a62639;
    background-color: white;
}

.hidden {
    display: none;
}

#selectPet {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#dogImages {
    margin-top: 6vh;
}

#petImage {
    margin-bottom: 6vh;
}

.dogChoose {
    width: 60%;
    padding-top: 0.2rem;
    border-radius: 0.4rem;
}

.dogChooseInvalid {
    border: 1px solid #a29c9b;
    background-color: #a29c9b;
    color: #56494e;
}

.dogChooseValid {
    border: 1px solid #a62639;
    background-color: white;
    color: #a62639;
}

.dogChooseValid:hover {
    cursor: pointer;
    background-color: #db324d;
    color: white;
}

.dogSelection:hover {
    cursor: pointer;
}

.dogSelection:hover li {
    color: #db324d;
}

.selected li {
    background-color: #db324d;
    color: white;
}

.selected:hover li {
    color: white;
}