body {
    font-size: 1rem;
    font-weight: 300;
    font-family: monospace;
    color: #a62639;
}

button {
    margin-bottom: 1vh;
}
main {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img {
    width: 25%;
    height: auto;
}


ul {
    list-style-type: none;
    padding: 0;
}

.action {
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
    width: 60%;
    border-radius: 0.4rem;
    border: 1px solid #a62639;
    background-color: white;
}

.hidden {
    display: none;
}

#selectPet {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#dogImages {
    margin-top: 2vh;
}

#petImage {
    margin-bottom: 2vh;
}

.dogChoose {
    width: 40%;
    border-radius: 0.4rem;
}

.dogChooseInvalid {
    border: 1px solid #a29c9b;
    background-color: #a29c9b;
    color: #56494e;
}

.dogChooseValid {
    border: 1px solid #a62639;
    background-color: white;
    color: #a62639;
}

.dogChooseValid:hover, .action:hover {
    cursor: pointer;
    background-color: #db324d;
    color: white;
}

.dogSelection:hover {
    cursor: pointer;
}

.dogSelection:hover li {
    color: #db324d;
}

.selected li {
    background-color: #db324d;
    color: white;
}

.selected:hover li {
    color: white;
}

.positive {
    color: #249D62;

}

.neutral {
    color: #cba328;
}

.negative {
    color: #a62639;
}